body {
    background-color: #0a0c1b;
}

.imagem-principal {
    display: inline-block;
    align-items: right;
}

.texto-principal {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
