body {
    background-color: #0a0c1b;
}

.imagem-principal {
    display: inline-block;
    margin-right: 50%;
    border: transparent;
    border-radius: 0px 9px 9px 0px;
}


.texto-principal {
    display: inline-block;
    color: white;
    font-size: 40px;
    vertical-align:text-bottom;
    padding: 20px 0px;
}

.descricao {
    color: #8F8EA3;
    font-size: 15px;

}