body {
    background-color: #0a0c1b;
}

.imagem-principal {
    display: block;
    margin: 20px auto;
    border: 3px;
    border-radius: 0px 9px 9px 0px;
}


.texto-principal {
    color: white;
    font-size: 40px;
    vertical-align:text-bottom;
}

.descricao {
    color: #8F8EA3;
    font-size: 15px;

}